# Auto detect text files and perform LF normalization
* text=auto

*.json.js linguist-vendored=true linguist-generated=true
public/data/**/*.json.js linguist-vendored=true linguist-generated=true
public/assets/external/**/*.js linguist-vendored=true linguist-generated=true
