@use 'main.scss' as *;

@mixin exporter-style {
  div.dt-buttons {
    position: absolute;
    right: -45px;
    top: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    button.button {
      margin: 0;
      background: transparent;
      color: $color-2;
      overflow: hidden;
      padding: 0;
      margin: 0;
      border: 0;
      border-radius: 0;
      transition: $transition-basic-1;
      &.download-button {
        height: 0px;
      }
      &:first-child {
        height: auto;
        padding: 8px 2px;
      }
      &:hover {
        color: color('download');
      }
    }
    button.buttons-html5 {
      height: 0;
      opacity: 0;
      transition: $transition-basic-1;
      &.open {
        height: 60px;
        opacity: 1;
      }
    }
    span.icon {
      display: block;
      margin: auto;
    }
    .button i {
      transition: 0.3s;
    }
  }

  :global(body.small-mobile) & {
    div.dt-buttons {
      position: fixed;
      right: calc(7px + var(--chat-width));
      top: 40px;
      width: 40px;
      &[is-open='true'] {
        background: $background-1;
      }
      button.button:has(.fa-magnifying-glass-plus) {
        position: fixed;
        top: 40px;
        right: calc(50px + var(--chat-width));
      }
    }
  }
}
